name: Ruby Test
on: [push]

jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [2.5.9, 2.6.7, 2.7.3]

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby-version }}

      - name: verify
        run: |
          bundle exec rubocop
          bundle exec rspec
